**/node_modules
**/.env
**/.env*
*.env
**/*.key
**/*.pem
**/serviceAccountKey*.json
serviceAccountKey*.json
**/npm-debug.log*
**/*.log
**/.DS_Store
**/.git
**/.gitignore
**/dist
**/dist-ssr
**/uploads/*
!**/uploads/.gitkeep
